html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: top; /* Aligns items horizontally to the top */
  align-items: top; /* Aligns items vertically to the top */
}


.centercontainer{
  height: 100vh; /* Full viewport height */
}
.Divider{
  height: 40vh; /* Full viewport height */
}
.PageHeader{
  height: 5vh; /* Full viewport height */
}
header, main, footer {
  padding: 1rem;
}

main {
  flex: 1; /* This makes the main content take up the remaining space */
}

footer {
  background: #f8f9fa;
  text-align: center;
  padding: 1rem 0;
}

.full-page {
  width: 100%;
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;

}

.BoldBorder {
  border: 2px solid #000; /* Optional: Adjust border styling */
}

header, main, footer {
  width: 100%;
}


  iframe {
    width: 100%;
    height: 600px; /* Adjust height as needed */
  }
  
  @media (max-width: 768px) {
    iframe {
      height: 600px; /* Adjust height for smaller screens */
    }
  }
      

      
      html, body {
          height: 100%;
          margin: 0;
        }
        
        .wrapper {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
        }
        
        main {
          flex: 1;
        }
        
        .footer {
          background-color: #00000000;
          text-align: center;
          color: rgb(60, 30, 2);
          padding: 10px 0;
          font-family: 'Cormorant garamond', serif;
      
        }
        
        #UpdateLogContainer {
          max-height: calc(100vh - 70px); /* Adjust this value to the available viewport height minus navbar height */
          overflow-y: auto; /* Adds a vertical scrollbar if content overflows */
        }

      
      /* Define the keyframes for the fade animation */
      @keyframes fadeBackground {
        0% {
          background-color: #B18F6A;
        }
        100% {
          background-color: #F3D8BA;
        }
      }
      
      /* Apply the animation to the element */
      #Homebody{
        width: 100%;
        height: 100vh; /* Full height of the viewport */
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fadeBackground 20s infinite alternate;
        /* 3s: duration, infinite: repeat forever, alternate: switch direction */
      }
    
      
      
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
        
      /*https://blog.hubspot.com/website/css-animation-examples*/
  
      /* Breadcrumbs for hierarchy https://getbootstrap.com/docs/4.0/components/breadcrumb*/